{% extends 'base.html' %}

{% block head %} 
<title>New Post</title>
{% endblock %}



{% block body %} 

    <hr>
    <h2>Create New Blog Post:</h2>
    <form action='/posts' method='POST'>
        <label for="title">Title</label>
        
        <input class="form-control" type="text" name='title' id='title' placeholder="Enter title" aria-label="Enter title">

        <br>
        <label for="author">Author</label>
        <input class="form-control" type="text" name='author' id='author' placeholder="Enter author" aria-label="Enter author">

        <br>
        
        <label for="Content">Post</label>
        <textarea class="form-control" name="content" id="content" placeholder="Enter content" rows="3"></textarea>
          
        <br>
        <input type='submit' value='Post'>
    </form>
    <hr>

   

{% endblock %}